@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Graphik';
    font-weight: 400;
    src: url('/fonts/Graphik-Regular-Web.woff') format('woff'),
      url('/fonts/Graphik-Regular-Web.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Graphik Light';
    font-weight: 300;
    src: url('/fonts/Graphik-Light-Web.woff') format('woff'),
      url('/fonts/Graphik-Light-Web.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Graphik Medium';
    font-weight: 400;
    src: url('/fonts/Graphik-Medium-Web.woff') format('woff'),
      url('/fonts/Graphik-Medium-Web.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Graphik Semibold';
    font-weight: 600;
    src: url('/fonts/Graphik-Semibold-Web.woff') format('woff'),
      url('/fonts/Graphik-Semibold-Web.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Graphik Bold';
    font-weight: 700;
    src: url('/fonts/Graphik-Bold-Web.woff') format('woff'),
      url('/fonts/Graphik-Bold-Web.woff2') format('woff2');
  }
  html,
  body {
    @apply min-h-screen min-w-fit;
  }
  body,
  .simulator {
    @apply bg-no-repeat bg-gradient-to-t from-gradientFrom to-gradientTo text-primary;
  }
  h1 {
    @apply text-header font-sans-semibold;
  }
  h2 {
    @apply text-subheading font-sans-light;
  }
  h3 {
    @apply text-title font-sans-bold;
  }
  p {
    @apply text-body lg:text-title font-sans pb-1;
  }
  .caption-body {
    @apply text-caption lg:text-body;
  }
  .label-body {
    @apply text-label lg:text-body;
  }
  .caption-label {
    @apply text-caption font-sans-semibold;
  }
  th {
    @apply p-3;
  }
  td {
    @apply p-3;
  }
  input {
    @apply bg-transparent;
  }
  tbody tr {
    @apply border-border-secondary border-b;
  }
  tbody tr:last-child {
    @apply border-border-primary;
  }
  button:disabled {
    cursor: initial;
  }
  .page-button:disabled {
    background-color: #ffffff1a;
    color: #ffffff4d;
  }

  input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    /* Firefox */
    -moz-appearance: textfield;

    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: right;
    max-width: 150px;
  }
}
